h2 {
  font-size: 36px;
  letter-spacing: 3px;
  line-height: 44px;
}

.overlay-header.overlay-header {
  filter: drop-shadow(-2px -2px 5px black);
  font-weight: 300;
}

.sub-header {
  font-size: 14px
}

.blockquote blockquote {
  padding-bottom: 0;
}

.weekend-plan-header {
  margin-bottom: 20px;
}

.list h5 {
  margin: 20px 0 5px 0;
}

.flex-control-nav {
  z-index: 2;
}

.details-4 h5 {
  margin-bottom: 10px;
}

.image-slider {
  padding-bottom: 20px;
}
